@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
}

.cabecalho {
    display: flex;
    border: 2px solid gray;
    padding: 1em;
    justify-content: space-around;
    background-color: #588157;
}
.cabecalho span {
    font-size: 30px;
    font-weight: bold;
}

.select-personalizado {
    position: relative;
}
.select-personalizado select {
    border-radius: 8px;
    font-size: 15px;
}

.paisesContainer{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.topoPaises img{
    border: 2px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.05);
    padding: 5px;
}

.infoPaises .fronteiras{
    text-align: justify;
    
}

